{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="altNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top"><img src="{% static 'assets/img/TOGRA.svg' %}" alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
            <div class="row d-flex align-items-center">
                <div class="col mt-2">
                    <h4 style="color: white;">{{ user }}</h4>
                </div>
                <div class="col">
                    <a href="/logout/" type="button" class="btn btn-primary btn-sm">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <h2 class="heading-section">{{ peserta.nama_peserta }}</h2>
                <p>Grade : <strong>{{ peserta.nilai }}</strong></p>
            </div>
            <div class="row">
                {% for j in jawaban %}
                <div class="row mt-2 ms-3">
                    <div class="col">
                        <strong>{{ forloop.counter }}. {{ j.pertanyaan_id }}</strong>
                    </div>
                </div>
                <div class="row mb-3 ms-5">
                    <div class="col">
                        {% if j.jawaban %}
                        {{ j }}
                        {% else %}
                        <a href="http://127.0.0.1:8000/media/{{ j.pyfile }}">View Code</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3 ms-5">
                    <div class="col">
                        Feedback : <br>{{ j.pembahasan }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>      
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Togra 2022</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}