{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container h-100">
	<div class="row justify-content-sm-center h-100">
		<div class="col-xxl-6">
			<div class="text-center my-5">
				<img src="{% static 'assets/img/TOGRA.svg' %}" alt="logo" width="200">
			</div>
			{% for message in messages %}
            {% if message %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endfor %}
			<div class="card shadow-lg">
				<div class="card-body p-5">
					<h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
					<form method="POST" action="/register/">
							{% csrf_token %}
							{{ form.as_p }}
							<button type="submit" class="btn btn-primary ms-auto">
								Register
							</button>
					</form>
				</div>
				<div class="card-footer py-3 border-0">
					<div class="text-center">
						Already have an account? <a href="/login/" class="text-dark">Login</a>
					</div>
				</div>
			</div>
			<div class="text-center mt-5 text-muted">
				Copyright &copy; 2017-2021 &mdash; Your Company
			</div>
		</div>
	</div>
</div>
{% endblock %}

<script src="js/login.js"></script>